@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
body{
    margin:0px;
    padding:0px;
    font-size:16px;
    text-align:left;
    color: #444;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 100%;
}
header{
    background-color: #eccc12;
    color: white;
    padding-top: 42px;
    padding-bottom: 30px;
}
main{
    width: 900px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:900px) {
    main{
        width: auto;
    }
}
footer{
    background-color: #999;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
}
h1{
    font-size:48px;
    font-weight:bold;
    margin:0px;
    padding:0px;
    line-height: 40px;
}
h2{
    font-size:32px;
    margin:0px;
    padding:0px;padding-top:4px ;padding-bottom:4px ;
}
h3{
    font-size:26px;
    margin:0px;
    padding:0px;padding-top:4px ;padding-bottom:4px ;
}
h4{
    font-size:22px;
    margin:0px;
    padding:0px;padding-top:4px ;padding-bottom:4px ;
}
img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}


.center{
    text-align:center;
}
.test{
    background: lightblue;
}
.waku{
    padding: 26px;
    border: 1px solid #dddddd;
    border-radius: 12px;
}
.link-white{
    color: white;
    text-decoration: none;
}
.link-gray{
    color: #444;
    text-decoration: none;
}
.link-gray:hover{
    color: #999999;
}
.ws_nomal{
    white-space: normal;
}



#plugin_list{
    white-space: pre-wrap;
}
#license{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
#license div{
}
#license p{
    margin-left: 130px;
}
.dl-button{
    font-size: 24px;
    font-weight: bold;
    float: right;
    text-align: right;
    padding-left: 24px;
    padding-right: 20px;
    background-color: #ee5a86;
    color: white;
    text-decoration: none;
    border: 1px solid #dddddd; 
    border-radius: 5px;
}
.dl-button:hover{
    background-color: #f398ca;
}
.dl-button strong{
    /* background-color: thistle; */
    padding: 0px;
    margin-right: 8px;
}
.dl-button span{
    padding: 0px;
}
.icon-small{
    font-size: 18px;
    vertical-align: -3px;
}
.icon-big{
    font-size: 42px;
    vertical-align: -11px;
}
.underline{
    border-bottom: 0.5px solid #dddddd;
}





.plugin_name_box{
    /* background-color: yellowgreen; */
    padding: 0px;
}
.plugin_name_box span{
    /* background-color: rgb(136, 175, 58); */
    float:left;
    font-size: 68px;
    line-height: 100%;
    vertical-align: -13px;
}
.plugin_name_box div{
    /* background-color: rgb(255, 233, 143); */
    padding-left: 80px;
    margin-bottom: 20px;
}
.plugin_name_box h2{
    /* background-color: rgb(50, 205, 202); */
    padding: 0px;
    margin-bottom: 8px;
    line-height: 100%;
}
.plugin_name_box p{
    /* background-color: rgb(205, 50, 179); */
    margin: 0px;
    font-weight: bold;
}

#helpdocument{
    white-space: pre-wrap;
}
.helpCaption{
    padding-top: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: 8px solid rgb(52, 94, 85);
}



#commentArea{
    width: 900px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width:900px) {
    #commentArea{
        width: auto;
    }
}
#commentArea textarea{
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #aaa;
    border-radius: 5px;
}
#commentArea input{
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ee5a86;
    color: white;
    text-decoration: none;
    border: 1px solid #dddddd; 
    border-radius: 5px;
}
#commentArea input:hover{
    background-color: #f398ca;
}
.comment-number{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.comment-date{
    color: #999;
}
.comment-text{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 24px;
    margin-bottom: 16px;
    border-bottom: thin solid rgb(218, 218, 218);
    overflow-wrap: break-word;
    white-space: pre-wrap;
}